.header{
    width: 100%;
    height: 50px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header >span{
    font-size: 24pt;
    font-family: 'Fjalla One', sans-serif;
}

.header >span a{
    color: darkred;
    text-decoration: none;
}

.header >span a:hover{
    color: white;
}

.content{
    width: 80%; 
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 335px;
}

.leftBlock{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

.rightBlock{
    width: 45%;
}

.item >img, .item1 >img{
    outline: 4px double lightgray;
}

.item1 >img{
    width: 100%;
}

.item >img{
    width: 23%;
}

.item1{
    display: inline-flex;
    height: 270px;
}

.item{
    margin: auto;
    width: 100%;
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.rightBlock >h2{
    margin-top: 0;
    margin-bottom: 0;
    color: dimgray;
    font-family: 'Karla', sans-serif;
}

.rightBlock >hr{
    background-color: darkred;
    border: none;
    height: 2px;
}

.rightBlock >p{
    font-family: 'Courier Prime', monospace;
    font-size: 10pt;    
}