.parent{
    width: 1000px;
    height: 600px;
    border: 2px inset lightgray;
    margin: auto;
    display: flex;
}

.block{
    width: 28%;
    height: 100%;
    background-color: slateblue;
}

.block2{
    height: 100%;
    width: 70%;
    margin: auto;
}

textarea{
    width: 100%;
    padding: 0;
    border: 0;
    outline: 1px solid black;
}

.labels{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

label{
    width: 48%;
    margin-top: 10px;
}

#inputField{
    width: 100%;
    height: 20px;    
    border: 0;
    outline: 1px solid black;
}

span{
    color: dimgray;
}

#btn{
    margin-top: 10px;
    width: 100%;
    padding: 0;
    border: 0;
    outline: 1px solid black;
    height: 30px;
}

