.main{
    margin: auto;
    width: 550px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    width: 100%;
    height: 10%;
    background-color: aqua;
}

.content{
    width: 100%;
    height: 76%;
}

.footer{
    width: 100%;
    height: 10%;
    background-color: darkorange;
}

.content{
    display: flex;
    flex-flow: row wrap;
/*    align-content: space-between;*/
}

.item1{
    width: 166px;
    height: 102px;
    background-color: mediumpurple;
}

.item2{
    width: 374px;
    height: 244px;
    background-color: orange;
}

.item3{
    width: 166px;
    height: 244px;
    background-color: forestgreen;
    margin-top: 10px;
}

.item4{
    width: 374px;
    height: 102px;
    background-color: purple;
    margin-top: 10px;
}

.item5{
    width: 428px;
    height: 88px;
    background-color: lawngreen;
}

.item6{
    width: 112px;
    height: 88px;
    background-color: lightpink;
    margin-left: 10px;
}

.box3{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.box2{
    margin-left: 10px;
}

span{
    font-family: 'Karla', sans-serif;
    font-size: 20pt;
}

.main{
    text-align: center;
}

.box:hover{
    background-color: red;
}

.header:hover{
    background-color: red;
}

.footer:hover{
    background-color: red;
}