.box{
    width: 300px;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.element1{
    border: 1px dashed red;
    background-color: aqua;
}

.element2{
    border: 1px solid red;
    background-color: yellow;
}

.element3{
    border: 10px inset blue;
    background-color: aqua;
}

.element4{
    border-left: 5px solid black;
    background-color: aqua;
}