.header{
    width: 100%;
    height: 10vh;
    background-color: skyblue;
}


.content{
    width: 75%;
    height: 55vh;
    background-color: aquamarine;
    padding-left: 15%;
    padding-right: 10%;
}

.footer{
    width: 100%;
    height: 35vh;
    background-color: cadetblue;
    overflow: hidden;
}

.box{
    float: left;
}

.block1{
    width: 200px;
    height: 65%;
    background-color: hotpink;
}

.block2{
    width: 700px;
    height: 100%;
    background-color: burlywood;
}

.block2 div{
    width: 150px;
    height: 100px;
    border: 2px solid gray;
    margin: 15px 10px 15px 10px;
    float: left;
}

.block2 p{
    margin: 15px 10px 15px 10px;
    color: dimgray;
    font-size: 15pt;
}

.footer div{
    width: 300px;
    height: 80px;
    background-color: blue;
    float: left;
    margin: 1% 0 1% 9%;
}