.lowBattery, .middleBattery, .highBattery{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.block1{
    width: 200px;
    height: 100px;
    border: 5px solid black;
}

.block2{
    width: 10px;
    height: 30px;
    background-color: black;
}

.chargeLevel1{
    width: 30%;
    height: 100%;
    background-color: red;
}

.chargeLevel2{
    width: 60%;
    height: 100%;
    background-color: yellow;
}

.chargeLevel3{
    width: 100%;
    height: 100%;
    background-color: green;
}
